<!-- <div class="p-4">
    <div class="container">
        <h1>Hi {{user?.firstName}}!</h1>
        <p>You're logged in with Angular 14!!</p>
        <p><a routerLink="/users">Manage Users</a></p>
    </div>
</div> -->

<!-- Home Page -->
<div class="BannerImgWrap">
    <img src="../../../../assets/BannerImg.jpeg" alt="BannerImg">
    <div class="BannerImgContent">
        <span>
            Its time to...
        </span>
        <button>
            Add today's fitcheck
        </button>
    </div>
</div>
<div class="container">
    <div class="OutfitHead">
        <h1>My Outfits</h1>
    </div>
    <div class="OutfitGrid">
        <div class="OutfitBox">
            <img src="../../../../assets/Ootd_1.jpeg" alt="">
        </div>
        <div class="OutfitBox">
            <img src="../../../../assets/Ootd_2.jpeg" alt="">
        </div>
        <div class="OutfitBox">
            <img src="../../../../assets/Ootd_3.jpeg" alt="">
        </div>
        <div class="OutfitBox">
            <img src="../../../../assets/Ootd_4.jpeg" alt="">
        </div>
        <div class="OutfitBox">
            <img src="../../../../assets/Ootd_5.jpeg" alt="">
        </div>
        <div class="OutfitBox">
            <img src="../../../../assets/Ootd_6.jpeg" alt="">
        </div>
        <div class="OutfitBox">
            <img src="../../../../assets/Ootd_7.jpeg" alt="">
        </div>
        <div class="OutfitBox">
            <img src="../../../../assets/Ootd_8.jpeg" alt="">
        </div>

    </div>
</div>
<!-- Home Page -->